label{
    display: block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Metrophobic', sans-serif;
    background: url('https://miro.medium.com/focal/1200/900/43/41/1*vCd44VcaI5MC2Bmda4QacQ.jpeg');
    background-size: 100% 100%;
    height: 100vh;
    color: white;
    display: block;
    text-align: center;
    box-shadow: 0.4em 0 0 #e11937, -0.4em 0 0 #e11937;
    color: black;
    font-weight: bold;
}

li{
    color: white;
}

h1{
    text-align: center;
    display: inline;
    background-color: rgb(3, 3, 139);
    box-shadow: 0.4em 0 0 rgb(3, 3, 139), -0.4em 0 0 rgb(3, 3, 139);
    color: #fff;
    
}

.beginQuiz p{
    margin: auto;
}

p{
    background-color: rgb(3, 3, 139);
    box-shadow: 0.4em 0 0 rgb(3, 3, 139), -0.4em 0 0 rgb(3, 3, 139);
    color: #fff;
    width: 40%;
    font-size: 20px;
}


main{
    display: block;
    text-align: center;
    margin: auto;
    
   
}

.questionStyle{
    display: inline-block;
    width: 40%;
    box-sizing: border-box;
    min-height: 200px;
    vertical-align: top;
}

button, .questionStyle{
    padding: 20px;
    border: none;
    background-color: rgb(252, 253, 253);
    color:rgb(3, 3, 139);
    border: red 1px solid;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px
}
button:hover, button:focus, .questionStyle:hover, .questionStyle:focus{
    background-color: rgb(3, 3, 139);
    color: white;
}

/*input[type=radio]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}*/



@media screen and (max-width: 1190px) {
        .questionAnswerForm,
        .quizStart {
            width: 80%;
            margin: auto;
        }
}
@media screen and (max-width: 768px) {
        .logo {
            width: 120px;
            height: 120px;
            display: block;
            margin: auto;
        }    
}




.wrong {
    background-color: rgba(252, 29, 29, 0.815);
    border: 5px solid black ; 
}

.correct{
    background-color:rgb(40, 211, 6);
    border: 5px solid black;
}
